# Auto detect text files and perform LF normalization
* text=auto

# JavaScript / React
*.js    linguist-language=JavaScript
*.jsx   linguist-language=JavaScript
*.mjs   linguist-language=JavaScript

# Styles
*.css   linguist-language=CSS

# HTML
*.html  linguist-language=HTML

# Config files (no contar como código del proyecto)
*.json          linguist-detectable=false
*.lock          linguist-detectable=false
*.bat           linguist-detectable=false
deploy.bat      linguist-detectable=false
vite.config.js  linguist-detectable=true linguist-language=JavaScript
